@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Oswald:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 13px;
  color: #626262;
  line-height: 23px;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #000;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1182px;
  }
}

.section {
  padding: 120px 0;
}

.separator-line {
  height: 2px;
  margin: 0 auto;
  width: 30px;
  margin: 7% auto;
  background: #000000;
}

.column__vcentered {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 5rem;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (min-width: 1024px) {
  .navbar {
    min-height: 5rem;
  }
}

.navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
}

.navbar-item img {
  max-height: 100%;
}

.navbar-item__link {
  position: relative;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  border-bottom: 2px solid transparent;
}

.navbar-item__link:hover {
  border-bottom: 2px solid #000;
}

.page__hero .title {
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.page__hero .separator-line {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.page__hero:hover .separator-line {
  width: 80px;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.page__hero .breadcrumb ul,
.page__hero .breadcrumb ol {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__hero .breadcrumb li + li::before {
  color: #575757;
}

.page__hero .breadcrumb li:not(.is-active) a {
  text-transform: uppercase;
}

.page__hero .breadcrumb a {
  font-size: 12px;
  letter-spacing: 3px;
  color: #575757;
}

.page__hero .breadcrumb .is-active a {
  color: rgba(87, 87, 87, 0.7);
}

.post__item {
  margin-bottom: 5%;
  overflow: hidden;
}

.post__item img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.post__item:hover img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: .5;
}

.post__img {
  overflow: hidden;
  background: #a1a1a1;
}

.post__details .post__date {
  color: #898989;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 30px;
}

.post__details .post__date a {
  color: #898989;
}

.post__details .post__title a {
  color: #000;
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 5px 0 20px;
  text-transform: uppercase;
}

.post__details .post__excerpt {
  width: 80%;
}

.post__details .post__like,
.post__details .post__share {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 25px;
}
/*# sourceMappingURL=custom.css.map */