/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 5 version
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Oswald:wght@400;600;700&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 13px;
  background-color: #f5f5f5;
  color: #626262;
  line-height: 23px;
  letter-spacing: 0.02em;
}

section {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #000;
}

a:hover {
  color: #575757;
}

.container {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1182px;
  }
}

.separator-line {
  height: 2px;
  margin: 0 auto;
  width: 30px;
  margin: 7% auto;
  background: #000000;
}

.column__vcentered {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.list-inline li {
  display: inline-block;
}

/*
* Navbar
*/

.navbar {
  min-height: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.navbar__scroll {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (min-width: 1024px) {
  html.has-navbar-fixed-top,
  body.has-navbar-fixed-top {
    padding-top: 5rem;
  }

  .navbar {
    min-height: 5rem;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .navbar__scroll {
    min-height: 3.5rem;
  }
}

.navbar .container {
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .navbar.is-fixed-top .navbar-menu__mobile {
    max-height: 100vh;
  }

  .navbar-menu__mobile {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #626262;
    list-style: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .navbar-menu.is-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.navbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-item img {
  max-height: 100%;
}

.navbar-item__link {
  position: relative;
  padding: 5px 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  border-bottom: 2px solid transparent;
}

.navbar-item__link:hover {
  border-bottom: 2px solid #000;
}

@media screen and (max-width: 1023px) {
  .navbar-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
  }

  .navbar-item__link {
    color: #ffffff;
  }

  .navbar-item__link:hover {
    color: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  }
}

/**
*** Page Hero
**/
.page__hero .title {
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .page__hero .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 426px) {
  .page__hero .title {
    font-size: 20px;
  }
}

.page__hero .separator-line {
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.page__hero:hover .separator-line {
  width: 80px;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.page__hero .breadcrumb ul,
.page__hero .breadcrumb ol {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page__hero .breadcrumb {
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .page__hero .breadcrumb {
    display: none;
  }
}

.page__hero .breadcrumb li + li::before {
  color: #575757;
}

.page__hero .breadcrumb li:not(.is-active) a {
  text-transform: uppercase;
}

.page__hero .breadcrumb a {
  font-size: 12px;
  letter-spacing: 3px;
  color: #575757;
}

.page__hero .breadcrumb .is-active a {
  color: rgba(87, 87, 87, 0.7);
}

/**
*** Posts
**/
.posts__section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.post__item {
  margin-bottom: 5%;
  overflow: hidden;
}

.post__item img {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.post__item:hover img {
  -webkit-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
  opacity: 0.5;
}

.post__img {
  min-width: 456px;
  min-height: 274px;
  overflow: hidden;
  background: #fbfbfb;
}

.post__details .post__date {
  color: #898989;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 30px;
}

.post__details .post__date a {
  color: #898989;
}

.post__details .post__title a {
  color: #000;
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
  margin: 5px 0 20px;
  text-transform: uppercase;
}

.post__details .post__excerpt {
  width: 80%;
}

.post__read {
  text-transform: uppercase;
}

.post__details .post__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1.5rem;
}

.post__details .post__footer .post__footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.post__details .post__footer .icon {
  display: block;
  width: auto;
  margin-right: 6px;
  font-size: 12px;
}

/**
** Footer
**/

footer {
  font-size: 11px;
  background: #f4f4f4;
}

.footer__top {
  padding-top: 46px;
  padding-bottom: 46px;
}

.footer__items {
  text-transform: uppercase;
}

.footer__item {
  padding: 0 14px;
}

.footer__icons {
  text-align: right;
}

.footer__top .icon {
  margin: 0 26px;
}

.footer__bottom {
  text-align: center;
  background-color: #252525;
}

@media screen and (max-width: 768px) {
  .footer__top {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
  }

  .footer__icons {
    text-align: center;
  }

  .footer__top .icon {
    margin: 0 12px;
  }

  .footer__bottom .column {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* clear fix */
.columns__grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
/* .grid-sizer {
  width: 100%;
} */

.column-test {
  background: #0d8;
  border: 1px solid;
  border-color: hsla(0, 0%, 0%, 0.7);
}
